.clicker {
    width: 350px;    
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;  
    align-items: center;
    margin: 150px auto;     
}

.clicker__status { 
   font-size: 30px;   
}

.clicker__cookie {   
    margin-top: 50px;
    display: block;
    
}